<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxun.project.qxun.mapper.QxLayerCfgMapper">
    
    <resultMap type="com.qianxun.project.qxun.domain.QxLayerCfg" id="QxLayerCfgResult">
        <result property="id"    column="id"    />
        <result property="era"    column="era"    />
        <result property="condition"    column="condition"    />
        <result property="ratio"    column="ratio"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectQxLayerCfgVo">
        select id, era, `condition`, ratio, create_time, update_time from qx_layer_cfg
    </sql>

    <select id="selectQxLayerCfgList" parameterType="com.qianxun.project.qxun.domain.QxLayerCfg" resultMap="QxLayerCfgResult">
        <include refid="selectQxLayerCfgVo"/>
        <where>  
            <if test="era != null "> and era = #{era}</if>
            <if test="condition != null "> and `condition` = #{condition}</if>
            <if test="ratio != null "> and ratio = #{ratio}</if>
        </where>
    </select>
    
    <select id="selectQxLayerCfgById" parameterType="Long" resultMap="QxLayerCfgResult">
        <include refid="selectQxLayerCfgVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertQxLayerCfg" parameterType="com.qianxun.project.qxun.domain.QxLayerCfg" useGeneratedKeys="true" keyProperty="id">
        insert into qx_layer_cfg
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="era != null">era,</if>
            <if test="condition != null">`condition`,</if>
            <if test="ratio != null">ratio,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="era != null">#{era},</if>
            <if test="condition != null">#{condition},</if>
            <if test="ratio != null">#{ratio},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateQxLayerCfg" parameterType="com.qianxun.project.qxun.domain.QxLayerCfg">
        update qx_layer_cfg
        <trim prefix="SET" suffixOverrides=",">
            <if test="era != null">era = #{era},</if>
            <if test="condition != null">`condition` = #{condition},</if>
            <if test="ratio != null">ratio = #{ratio},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQxLayerCfgById" parameterType="Long">
        delete from qx_layer_cfg where id = #{id}
    </delete>

    <delete id="deleteQxLayerCfgByIds" parameterType="String">
        delete from qx_layer_cfg where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>