<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianxun.project.qxun.mapper.QxVipRecMapper">
    
    <resultMap type="QxVipRec" id="QxVipRecResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="fromId"    column="from_id"    />
        <result property="era"    column="era"    />
        <result property="ratio"    column="ratio"    />
        <result property="num"    column="num"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectQxVipRecVo">
        select id, user_id, from_id, era, ratio, num, create_time, update_time from qx_vip_rec
    </sql>

    <select id="selectQxVipRecList" parameterType="com.qianxun.project.qxun.domain.QxVipRec" resultMap="QxVipRecResult">
        <include refid="selectQxVipRecVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="fromId != null "> and from_id = #{fromId}</if>
            <if test="era != null "> and era = #{era}</if>
            <if test="ratio != null "> and ratio = #{ratio}</if>
            <if test="num != null "> and num = #{num}</if>
        </where>
    </select>
    
    <select id="selectQxVipRecById" parameterType="Long" resultMap="QxVipRecResult">
        <include refid="selectQxVipRecVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertQxVipRec" parameterType="com.qianxun.project.qxun.domain.QxVipRec" useGeneratedKeys="true" keyProperty="id">
        insert into qx_vip_rec
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="fromId != null">from_id,</if>
            <if test="era != null">era,</if>
            <if test="ratio != null">ratio,</if>
            <if test="num != null">num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="fromId != null">#{fromId},</if>
            <if test="era != null">#{era},</if>
            <if test="ratio != null">#{ratio},</if>
            <if test="num != null">#{num},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateQxVipRec" parameterType="com.qianxun.project.qxun.domain.QxVipRec">
        update qx_vip_rec
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="fromId != null">from_id = #{fromId},</if>
            <if test="era != null">era = #{era},</if>
            <if test="ratio != null">ratio = #{ratio},</if>
            <if test="num != null">num = #{num},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQxVipRecById" parameterType="Long">
        delete from qx_vip_rec where id = #{id}
    </delete>

    <delete id="deleteQxVipRecByIds" parameterType="String">
        delete from qx_vip_rec where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>